*{
    
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
   background-color: gray;
}

    .Navbar.logo a{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .Navbar.links{
        display: flex;
        row-gap: 2rem;
    }
    .Navbar{
        display: flex;
        gap: 40px;
        /* padding-top: 20%; */
        padding-left: 10;
    }
    .links{
        display: flex;
        gap: 70px;
    }
    .b{
        
        color: antiquewhite;
        padding: 0.5rem;
        /* border: none;
        outline: none; */
        border-radius: 10%;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
    }
    .a{
        padding: 0.5rem;
        /* border: none;
        outline: none; */
        border-radius: 10%;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer; 
    }
    .input{
        display: flex;
        gap: 12%;
        padding-left: 20%;
        padding-top: 4%;
        list-style: none;
    }
    .label{
        display: flex;
    }
    .cont{
        padding-top: 5%;
        padding-left: 30%;
    }
    .code{
        display: flex;
    }
    .button{
        margin:10px 20px;
        padding: 10px 15px;
        font-weight: bold;
        background-color: rgb(0, 38, 255);
        border-radius: 10px;
        
    }
    .footer{
        gap: 12%;
        background-color: rgb(218, 216, 216);
        padding-left: 10%;
        display: flex;
        
    }
    @media only screen and(max-width:400px) {
        .Navbar.logo a{
            font-size: 1.0rem;
            }
        .Navbar.links{
            row-gap: 1rem;
        }
        .Navbar{
           gap: 10px;
          }
        .links{
           gap: 40px;
        }
        .b{
            padding: 0.5rem;
           border-radius: 5%;
            font-size: 0.8rem;
         }
        .a{
            padding: 0.5rem;
            border-radius: 5%;
            font-size: 0.8rem;
             }
        .input{
            gap: 2%;
           }
        
        }
        .button{
            margin:5px 8px;
            padding: 5px 6px;
          border-radius: 6px;
            
        }
        .footer{
        gap: 6%;
      }
    