*{
    
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.body{
    background-color:lightgray;
    }
    .Navbar.logo a{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .Navbar.links{
        display: flex;
        row-gap: 2rem;
    }
    .Navbar{
        display: flex;
        gap: 40px;
        /* padding-top: 20%; */
        padding-left: 10;
    }
    .links{
        display: flex;
        gap: 70px;
    }
    .b{
        
        color: antiquewhite;
        padding: 0.5rem;
        /* border: none;
        outline: none; */
        border-radius: 10%;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
    }
    .a{
        padding: 0.5rem;
        /* border: none;
        outline: none; */
        border-radius: 10%;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer; 
    }
    .view{
    display: flex;
    height: 600px;
     margin-left: 10%;
    margin-top: 150px;
    gap: 2%;
    padding-bottom: 10%;
           }
    .view img{
        width: 500px;

      
    }
.image img{
height: 150px;
width: 150px;
display: flex;
gap: 2%;
           }
.vie{
    display: flex;
    gap: 2%;
    margin: 2%;
    
}
.bed{
    gap: 15px;
    display: flex;
}
.indus{
     display: flex;
    
}
.meal{
    padding-left: 30%;
}
.button{
    margin:10px 20px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: rgb(0, 38, 255);
    border-radius: 10px;
}
.footer{
    display: flex;
    gap: 12%;
    padding-top: 5%;
    background-color: gray;
    
}
@media only screen and(max-width:400px) {
    
        .Navbar.logo a{
            font-size: 1.5rem;
           
        }
        .Navbar.links{
            
            row-gap: 2rem;
        }
        .Navbar{
           
            gap: 40px;
            padding-left: 10;
        }
        .links{
            
            gap: 70px;
        }
        .b{
            padding: 0.5rem;
           border-radius: 10%;
            font-size: 0.8rem;
            
        }
        .a{
            padding: 0.5rem;
           border-radius: 10%;
            font-size: 0.8rem;
           }
        .view{
       height: 400px;
         margin-left: 10%;
        margin-top: 150px;
        gap: 2%;
        padding-bottom: 10%;
               }
        .view img{
            width: 400px;
       }
    .image img{
    height: 100px;
    width: 100px;
    gap: 2%;
               }
    .vie{
        gap: 2%;
        margin: 2%;
        
    }
    .bed{
        gap: 15px;
       }
     .meal{
        padding-left: 10%;
    }
    .footer{
       gap: 12%;
        padding-top: 5%;
        }
}